:root {
    --color-ddd: #ddd;
    --color-5d5d5d: #5d5d5d;
    --color-303030: #303030 --color-white: white;
    --color-black: black;
    --color-FC7933: #0047ff;
    --color-FA5736: #138dff;
    --color-F7233C: #01c5ef;
    --font-kantumruy: "Kantumruy Pro", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-battambang: "Battambang", system-ui;
}

.cart-page .title-cart h1 {
    font-size: 35px;
    color: #5d5d5d;
}

.cart-page .product .qty {
    border-bottom: 2px solid #b4b4b4;
    color: #5d5d5d;
    font-size: 18px;
    font-weight: 600;
}

.cart-page .product .item {
    margin-top: 10px;
    background-color: #ffffff;
    height: 120px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    display: flex;

}

.cart-page .product .item .pic {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-page .product .item .pic img {
    width: 140px;
    height: 100px;
    object-fit: cover;
}

.cart-page .product .item .item-detail {
    display: flex;
    padding-top: 10px;
}

.cart-page .product .item .name {
    width: 300px;
    margin-left: 10px;
}

.cart-page .product .item .name .type {
    font-size: 14px;
    color: #21aaff;
}

.cart-page .product .item .name h2 {
    margin-top: -7px;
    color: #3e3e3e;
    font-size: 22px;
}

.cart-page .product .item .name .rate {
    display: flex;
}

.cart-page .product .item .name .rate span {
    font-size: 13px;
    padding: 0px 10px;
    background-color: #4ea9ff;
    color: white;
    margin-right: 20px;
}

.cart-page .product .item .name .rate .rating small {
    font-size: 15px;
    font-weight: 600;
    margin-left: 3px;
}

.cart-page .product .item .name .rate .rating i {
    margin-right: -4px;
    font-size: 15px;
    color: orangered;
}

.cart-page .product .item .qty-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.cart-page .product .item .qty-item div {
    font-size: 20px;
    font-weight: 660;
    color: #3e3e3e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-page .product .item .qty-item div {
    border: 1px solid #138dff;
    height: 30px;
}

.cart-page .product .item .qty-item span {
    background-color: transparent;
    color: #138dff;
}

.cart-page .product .item .qty-item .num {
    border-left: 1px solid #138dff;
    border-right: 1px solid #138dff;
    display: block;
    height: 100%;
}

.cart-page .product .item .qty-item i {
    padding: 3px;
}

.cart-page .product .item .price {

    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-page .product .item .price small {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;

}

.cart-page .product .item .price small span {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -10px;
    color: #138dff;
}

.cart-page .product .item .price small span i {
    margin-left: 4px;
}

.cart-page .product .item .remove {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-page .product .item .remove small {
    font-size: 16px;
    border: 1px solid #138dff;
    padding: 0px 20px;
    border-radius: 40px;
    color: #138dff;
    cursor: pointer;
}

.cart-page .product .item .remove small:hover {
    color: red;
    border: 1px solid red;
}

.cart-page .total {
    margin-top: 45px;
    background-color: #ffffffbb;    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.cart-page .total .total-title h3 {
    font-size: 25px;
    color: #3e3e3e;
    padding: 10px;
}

.cart-page .total .pay {
    font-size: 20px;
    color: #3e3e3e;
    padding: 0 10px;
    margin-top: -10px;
}
.cart-page .total .qty {
    display: flex;
}
.cart-page .total .qty span{
    font-size: 18px;
    font-weight: 600;
    color: #3e3e3e;
    padding: 10px;
    margin-top: -10px;
}
.cart-page .total .btn-check {
    width: 100%;
    background-color: #21aaff;
    display: flex;
    justify-content: center; 
    margin-top: 10px;   

}

.cart-page .total .btn-check a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    padding: 3px 80px;
}
.cart-page .total .btn-check:hover {
    background-color: #0084ff;
}