label {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 6px 0px;
  position: relative;
}
.form-group i {
  position: absolute;
  top: 47px;
  left: 8px;
  font-size: 18px;
  color: #5d5d5d;
}
.form-control {
  width: 100%;
  height: 35px;
  padding: 5px 10px 5px 33px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #00000014;
  font-family: var(--font-kantumruy);
  font-weight: 500;

}



.btn-form {
  margin-top: 10px;
  background-color: var(--color-F7233C);
}

.btn-form a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  /* background-color: #ff0000; */
}

/* !------------------------------------------------- */
/* !                   LOGIN PAGE                     */
/* !------------------------------------------------- */
/* ?------------------------------------------------- */
/* *------------------------------------------------- */
main .background {
  position: relative;
  width: 100%;
  height: 100vh;
}

main .background .background-2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 100vh;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background-color: var(--color-FA5736);
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form .form-login {
  position: absolute;
  top: 50px;
  width: 400px;
  border-radius: 5px;
  background-color: var(--color-white);
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* !-------------------------------------------- */
.form .logo-header .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.form .logo-header .logo img {
  height: 50px;
}

.form .logo-header .description p {
  width: 350px;
  margin: auto;
  font-size: 13px;
  font-weight: 500;
  padding: 0px 0px 5px 0px;
  text-align: center;
  color: #5d5d5d;
  margin-top: -8px;
}

.form .logo-header .rular {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.form .logo-header .rular div {
  width: 45px;
  height: 2px;
}

.form .logo-header .rular div:nth-child(1) {
  background-color: #000dff;
}

.form .logo-header .rular div:nth-child(2) {
  height: 5px;
  background-color: #ffd500;
}

.form .logo-header .rular div:nth-child(3) {
  background-color: #ff0000;
}



.form .checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: #0047ff; */
}

.form .checkbox label {
  font-size: 15px;
  font-weight: 400;
  margin: 0px 0px 6px 8px;
}

.form .checkbox input {
  width: 16px;
  height: 16px;
  outline: none;
  margin-top: -8px;
  margin-left: 3px;
}

.form .forget-password a {
  float: right;
  text-decoration: none;
  margin-top: 0px;
}

.form .forget-password a:hover {
  color: var(--color-FC7933);
  text-decoration: underline;
}

.form .create-acc {
  font-size: 18px;
  margin: 8px 0px;
}

.form .create-acc small a {
  text-decoration: none;
}

.form .create-acc small a:hover {
  color: var(--color-FC7933);
  text-decoration: underline;
}

.form .social-acc h4 {
  font-size: 17px;
  font-weight: 600;
  margin-top: 8px;
  text-align: center;
}

.form .social-acc ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.form .social-acc ul li a {
  margin: 13px 5px;
  display: block;
}

.form .social-acc ul li a img {
  height: 38px;
}

.form .social-acc ul li a:hover img {
  transform: scale(1.1);
}

.form .form-control:hover {
  outline: 2px solid #43dcff;
}

.form .form-control:focus {
  outline: 2px solid var(--color-F7233C);
}

.form .btn-form:hover {
  outline: none;
  background-color: var(--color-FA5736);
}

/* !------------------------------------------------- */
/* !                   SIGN UP PAGE                   */
/* !------------------------------------------------- */
/* ?------------------------------------------------- */
/* *------------------------------------------------- */
.form-signup {
  margin-top: -30px;
  width: 550px;
  height: 700px;
  position: absolute;
  top: 50px;
  border-radius: 5px;
  background-color: var(--color-white);
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.form-signup .checkbox label a {
  text-decoration: none;
}

.form-signup .checkbox label a:hover {
  color: var(--color-FC7933);
  text-decoration: underline;
}