:root {
    --color-ddd: #ddd;
    --color-5d5d5d: #5d5d5d;
    --color-303030: #303030 --color-white: white;
    --color-black: black;
    --color-FC7933: #0047ff;
    --color-FA5736: #138dff;
    --color-F7233C: #01c5ef;
    --font-kantumruy: "Kantumruy Pro", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-battambang: "Battambang", system-ui;
}

.setting-profile ul {
    display: flex;
    flex-direction: column;
    padding: 15px;
    list-style: none;
}

.setting-profile ul li a {
    text-decoration: none;
    font-size: 17px;
    color: #0b1c2a;
    display: block;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-profile ul li a span:nth-child(2) {
    background-color: var(--color-F7233C);
    height: 20px;
    width: 20px;
    border-radius: 100%;
    color: #fff;
    font-size: 16px;
    padding-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting-profile ul li a:hover span:nth-child(2) {
    background-color: #0047ff;
}

.setting-profile ul li:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: thistle; */
}

.setting-profile ul li label {
    margin-top: 7px;

}

.setting-profile ul .ts-control {
    width: 100px !important;
    font-size: 16px;
    height: 35px;

}

.setting-profile ul li a:hover {
    color: #138dff;
}


/* !---------------------------------------------- */
.profile-page .profile .profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-page .profile .profile-pic .pic {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    border: 3px solid var(--color-FA5736);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-page .profile .profile-pic .pic img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.profile-page .profile .profile-pic .name {
    text-align: center;
    font-size: 22px;
    color: #138dff;
    margin-top: 10px;
}

.profile-page .profile .profile-left {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.profile-page .profile .profile-left li {
    padding: 5px 0px;
}

.profile-page .profile .profile-right {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.profile-page .profile .profile-right .form-control {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font-battambang);
    padding: 8px 13px 5px 33px;
    color: #454545;
}

.profile-page .profile .profile-right .email {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 18px;
}

.profile-page .profile .profile-right .num-phone {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 17px;
}

.profile-page .profile .profile-right .btn-edit {
    display: flex;
    justify-content: end;
}

.profile-page .profile .profile-right .btn-edit a {
    text-decoration: none;
    width: 150px;
    font-size: 20px;
    display: block;
    padding: 3px;
    color: white;
    text-align: center;
    background-color: #138dff;
    border-radius: 50px;
}

.profile-page .profile .profile-right .btn-edit a:hover {
    background-color: #0076e4;
}

/* !---------------- Edit profile ------------- */
.edit-page-profile .profile .profile-right .btn-edit {
    justify-content: center;
}

.edit-page-profile .row:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.edit-page-profile .upload-image {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    position: relative;
}

.edit-page-profile .upload-image input {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}

.edit-page-profile .upload-image img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    top: 0;
}

.edit-page-profile .upload-image i {
    height: 150px;
    width: 150px;
    background-color: #91caff61;
    color: #5d5d5d;
    font-size: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    position: absolute;
    top: 0;
    z-index: -2;
}

.edit-page-profile .upload-image:hover i {
    background-color: rgba(186, 186, 186, 0.834);
}