:root {
  --color-ddd: #ddd;
  --color-5d5d5d: #5d5d5d;
  --color-white: white;
  --color-black: black;
  --color-FC7933: #0047ff;
  --color-FA5736: #138dff;
  --color-F7233C: #01c5ef;
  --font-kantumruy: "Kantumruy Pro", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

body {
  background-color: #f5f7fa;
}

/* !---------------- CSS - 1 -------------------*/
header {
  width: 100%;
  height: 70px;
  /* background-color: aqua;se */
}

/* !--------------- service page ------------- */
.banner {
  width: 100%;
  background-color: #d5d5d52b;
}

.text-banner {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;
}

.text-banner h3:nth-child(1) {
  font-size: 50px;
  color: #adadad36;
  position: absolute;
  margin-top: 18px;
}

.text-banner h3:nth-child(2) {
  font-size: 40px;
  color: var(--color-5d5d5d);
  position: absolute;
}

/* !------------------------------ */
/* ?------------------------------ */
.service-page .service .card {
  width: 100%;
  /* height: 400px; */
  background-color: #72bbff15;
  /* padding: 20px; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* border-radius: 5px; */
  position: relative;
}

.service-page .service .card .image img {
  width: 100%;
  height: 180px;
  background-size: cover;
  object-fit: cover;
}

.service-page .service .card .title h4 {
  font-size: 20px;
  font-weight: 600;
  /* color:var(--color-FC7933); */
  margin: 10px 20px;
  /* text-align: center; */
}

.service-page .service .card .description {
  font-size: 16px;
  color: #5d5d5d;
  line-height: 23px;
  margin: 10px 20px;
}

.service-page .service .card .read-more {
  border-top: 1px solid #ddd;
  background-color: var(--color-FA5736);
  padding: 10px;
}

.service-page .service .card .read-more a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  display: block;
}

.service-page .service .card .icon-service {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  top: 148px;
  right: 10px;
  transition: 1s;
}

.service-page .service .card .icon-service i {
  color: var(--color-5d5d5d);
  font-size: 30px;
  margin-top: 10px;
}

.service-page .service .card:hover .title h4 {
  color: var(--color-FA5736);
}

.service-page .service .card .read-more:hover {
  background-color: #0047ff;
  font-weight: 500;
}

.service-page .service .card:hover .icon-service {
  background-color: var(--color-FA5736);
  color: var(--color-white);
  margin-right: 30px;
}

.service-page .service .card:hover .icon-service i {
  color: var(--color-white);
}

/* animation: rotate 0.5s;
  @keyframes rotate{
    25%{
        transform: rotate(-90deg);
        transform: translateX(-10px);
    }
    50%{
        transform: rotate(-180deg);
        transform: translateX(-15px);
    }
    75%{
        transform: rotate(-350deg);
        transform: translateX(-20px);
    }
    100%{
        transform: rotate(-360deg);
        transform: translateX(-25px);
    }
  } */