:root {
  --color-ddd: #ddd;
  --color-5d5d5d: #5d5d5d;
  --color-303030: #303030 --color-white: white;
  --color-black: black;
  --color-FC7933: #0047ff;
  --color-FA5736: #138dff;
  --color-F7233C: #01c5ef;
  --font-kantumruy: "Kantumruy Pro", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-battambang: "Battambang", system-ui;
}

.service-care-page .service-care .discount .title-dis {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.service-care-page .service-care .discount .title-dis h3 {
  font-size: 25px;
  text-align: center;
  color: #434343
}

.service-care-page .service-care .discount .title-dis .rular {
  display: flex;
  align-items: center;
}

.service-care-page .service-care .discount .title-dis .rular div {
  width: 40px;
  height: 2px;
  background-color: #01c5ef;
}

.service-care-page .service-care .discount .title-dis .rular div:nth-child(2) {
  background-color: #138dff;
  height: 4px;
}

.service-care-page .service-care .discount .card {
  padding: 0px 40px;
}

.service-care-page .service-care .discount .card .cover-card {
  background-color: #69b7ff23;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 270px;
  border-radius: 20px;
}

.service-care-page .service-care .discount .card .pic img {
  margin-top: 20px;
  height: 120px;
}

.service-care-page .service-care .discount .card .des {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.service-care-page .service-care .discount .card .des h3 {
  text-align: center;
  font-size: 20px;
  color: #434343;
}

.service-care-page .service-care .discount .card .des p {
  text-align: center;
  padding: 0px 20px;
  font-size: 16px;
  color: #434343;
}

.service-care-page .service-care .title-service-care h3 {
  font-size: 25px;
  color: #434343;
  margin-top: 60px;
}

.service-care-page .service-care .title-service-care p {
  font-size: 16px;
  color: #6b6b6b;
  padding: 2px;

}

.service-care-page .service-care .service-card {
  /* background-color: rgb(255, 255, 255); */
  margin-top: 30px;
  height: 375px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  position: relative;
}

.service-care-page .service-care .service-card .pic img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  background-size: cover;
}

.service-care-page .service-care .service-card .title h3 {
  text-align: center;
  font-size: 22px;
  color: var(--color-FA5736);
  transition: 1s;}

.service-care-page .service-care .service-card .title p {
  text-align: center;
  font-size: 15px;
  color: var(--color-5d5d5d);
  margin-top: -5px;
  transition: 0.8s;
}

.service-care-page .service-care .service-card .description p {
  font-size: 17px;
  color: #434343;
  text-align: center;
  padding: 0px 10px;
  transition: 0.5s;
  line-height: 25px;
}

.service-care-page .service-care .service-card .btn-service-card {
  display: flex;
  justify-content: center;
  margin-top: 3px;
}

.service-care-page .service-care .service-card .btn-service-card a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  text-align: center;
  background-color: #4ba8ff;
  width: 150px;
  padding-top:15px;
  border-radius: 100% 100% 0 0;
  transition: 1s;
}

.service-care-page .service-care .service-card .background {
  width: 150px;
  height: 215px;
  position: absolute;
  bottom: -200px;
  border-radius: 50px 50px 0 0;
  right: 64px;
  transition: 0.5s;
  background: #4ba8ff;
  z-index: -1;
}

.service-care-page .service-care .service-card:hover .background {
  bottom: 0;
  right: 0;
  width: 100%;
  border-radius:0;
}
.service-care-page .service-care .service-card:hover .title h3 {
  color: rgb(255, 255, 255);
}
.service-care-page .service-care .service-card:hover .title p{
  color: #eeeeee;
}
.service-care-page .service-care .service-card:hover .description p{
  color: #f6f6f6;
}
.service-care-page .service-care .service-card:hover .btn-service-card a {
  background-color: white;
  color: #4ba8ff;
}
.service-care-page .service-care .service-card .btn-service-card a:hover{
  text-decoration: underline;
  color: blue;
}
/* !------------ our-work ----------- */
.our-work .title-header h3{
  text-align: center;
  font-size: 22px;
  color:#525252
}
.our-work .left-our-work{
  /* background-color: rebeccapurple; */
  height: 250px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}
.our-work .left-our-work .title{
  font-size: 25px;
  color:#138dff;

}
.our-work .left-our-work .des{
  font-size: 17px;
  color: #434343;
}
.our-work .right-our-work{
  height: 250px;
}
.our-work .right-our-work .pic{
 width: 100%;
  height: 250px;
  background-color: rebeccapurple;
  position: relative;
}
.our-work .right-our-work .pic img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}
.our-work .right-our-work .pic .result{
  font-size: 20px;
  background-color:var(--color-FA5736);
  color: white;
  padding-left: 15px;
  width: 40%;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}