:root {
  --color-ddd: #ddd;
  --color-5d5d5d: #5d5d5d;
  --color-white: white;
  --color-black: black;
  --color-FC7933: #0047ff;
  --color-FA5736: #138dff;
  --color-F7233C: #01c5ef;
  --font-kantumruy: "Kantumruy Pro", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
/* !--------------- service page ------------- */
.banner {
  width: 100%;
  background-color: #d5d5d52b;
}

.text-banner {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;
}

.text-banner h3:nth-child(1) {
  font-size: 50px;
  color: #adadad36;
  position: absolute;
  margin-top: 18px;
}

.text-banner h3:nth-child(2) {
  font-size: 40px;
  color: var(--color-5d5d5d);
  position: absolute;
}

/* !------------------------------ */
/* ?------------------------------ */
.service-page .service .card {
  width: 100%;
  background-color: #72bbff15;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
}

.service-page .service .card .image img {
  width: 100%;
  height: 180px;
  background-size: cover;
  object-fit: cover;
}

.service-page .service .card .title h4 {
  font-size: 20px;
  font-weight: 600;
  /* color:var(--color-FC7933); */
  margin: 10px 20px;
  /* text-align: center; */
}

.service-page .service .card .description {
  font-size: 16px;
  color: #5d5d5d;
  line-height: 23px;
  margin: 10px 20px;
}

.service-page .service .card .read-more {
  border-top: 1px solid #ddd;
  background-color: var(--color-FA5736);
  padding: 10px;
}

.service-page .service .card .read-more a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  display: block;
}

.service-page .service .card .icon-service {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  top: 148px;
  right: 10px;
  transition: 1s;
}

.service-page .service .card .icon-service i {
  color: var(--color-5d5d5d);
  font-size: 30px;
  margin-top: 10px;
}

.service-page .service .card:hover .title h4 {
  color: var(--color-FA5736);
}

.service-page .service .card .read-more:hover {
  background-color: #0047ff;
  font-weight: 500;
}

.service-page .service .card:hover .icon-service {
  background-color: var(--color-FA5736);
  color: var(--color-white);
  margin-right: 30px;
}

.service-page .service .card:hover .icon-service i {
  color: var(--color-white);
}


/* !----------------- */
.service-repair-page .banner {
  background-color: #138dff;
  height: 400px;
  overflow: hidden;
}

.service-repair-page .banner .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  margin-left: 150px;
}

.service-repair-page .banner .content small {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.service-repair-page .banner .content h3 {
  font-size: 60px;
  color: white;
  font-family: var(--font-kantumruy);

}

.service-repair-page .banner .pic img {
  width: 550px;
  margin-top: -50px;
  margin-left: -100px;
  animation: pic-banner 5s infinite;

}

@keyframes pic-banner {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.02);
  }
}

.service-repair-page .service-repair .title-repair {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-repair-page .service-repair .title-repair h3 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #138dff;
}

.service-repair-page .service-repair .title-repair .rular {
  display: flex;
  align-items: center;
  margin: 5px 0px 30px 0px;
}

.service-repair-page .service-repair .title-repair .rular div {
  width: 80px;
  height: 2px;
  background-color: #138dff;
}

.service-repair-page .service-repair .title-repair .rular div:nth-child(2) {
  height: 5px;
  background-color: #01c5ef;
}

.service-repair-page .service-repair .text {
  margin-top: 20px;

}

.mt-60 {
  margin-top: 60px;
}

.service-repair-page .service-repair .text .title h4 {
  font-size: 19px;
  color: #303030;
  font-weight: 600;
}

.service-repair-page .service-repair .text .title h4 i {
  margin-right: 5px;
}

.service-repair-page .service-repair .text p {
  font-size: 17px;
  color: #3b3b3b;
}

.service-repair-page .service-repair .pic {
  height: 300px;
  margin-top: 40px;
  display: flex;
}

.service-repair-page .service-repair .pic img {
  height: 300px;
  width: 600px;
  object-fit: cover;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.service-repair-page .service-repair .contact {
  background-color: #49deff52;
  padding: 20px;
  height: 160px;
}

.service-repair-page .service-repair .contact p {
  font-size: 18px;
  font-weight: 600;

}

.service-repair-page .service-repair .contact-right {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-repair-page .service-repair .contact-right small {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: var(--font-poppins);
  margin-bottom: 10px;
}

.service-repair-page .service-repair .contact-right img {
  height: 45px;
  margin-right: 10px;
}
.service-repair-page .more-service h3{
  font-size: 22px;
  color: var(--color-FA5736);                                              ;
  border-bottom: 3px solid var(--color-FA5736);
}