:root {
    --color-ddd: #ddd;
    --color-5d5d5d: #5d5d5d;
    --color-303030: #303030;
    --color-white: white;
    --color-black: black;
    --color-FC7933: #0047ff;
    --color-FA5736: #138dff;
    --color-F7233C: #01c5ef;
    --font-kantumruy: "Kantumruy Pro", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-battambang: "Battambang", system-ui;
}

.shop-page .hero-banner {
    height: 400px;
}

.shop-page .hero-banner .title-shop {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-page .hero-banner .title-shop h1 {
    font-size: 90px;
    font-weight: bold;
    font-family: var(--font-kantumruy);
    color: rgb(170, 170, 170);
    position: absolute;
    top: 150px;
    z-index: 1;
}

.shop-page .hero-banner .background .pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
}

.shop-page .hero-banner .background .overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.671);
    clip-path: none;
}

.shop-page .category ul {
    display: flex;
    list-style: none;
    padding: 5px 0px 3px 0px;
}

.shop-page .category ul li {
    padding: 0px 15px 0px 0px;
}

.shop-page .category ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-5d5d5d);
    display: block;
    padding: 2px 5px;
}

.shop-page .category ul li a.active {
    color: var(--color-FA5736);
    border-bottom: 2px solid var(--color-FA5736);
}

.shop-page .category ul li a.hvr-underline-from-left::before {
    background-color: var(--color-FA5736);
    height: 2px;
}

.shop-page .category ul li a:hover {
    color: var(--color-FA5736)
}

.shop-page .search {
    position: relative;
}

.shop-page .search .shop-search {
    width: 100%;
    font-size: 18px;
    padding: 5px 20px 3px 20px;
    font-family: var(--font-battambang);
    border: none;
    outline: 2px solid #ddd;
    margin-top: 5px;
    background-color: #e4fbff;
}

.shop-page .search i {
    font-size: 25px;
    padding: 8px;
    color: #737373;
    background-color: #ddd;
    position: absolute;
    top: 5px;
    right: 0px;
    cursor: pointer;
}

.shop-page .search .shop-search:focus {
    outline: 2px solid var(--color-F7233C);
    border: none;
    box-shadow: #01c5ef33 0px 18px 50px -10px;
}

.shop-page .search .shop-search:focus+i {
    background-color: #01c5ef;
    color: white;
}

.shop-page .shop .row .col-3 {
    margin-top: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 50px 0px;

}

.pagination ul {
    display: flex;
    list-style: none;
}

.pagination ul li {
    padding: 5px;
}


.pagination ul li a {
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding: 5px 10px 3px 10px;
    color: white;
    border-radius: 5px;
    background-color: #909090;
}

.pagination ul li:hover a {
    background-color: var(--color-FA5736);
}



/* *----------------------------------- */
/* ?-------------- Detail ------------- */
/* !----------------------------------- */
.shop-detail-page .pic-detail {
    width: 100%;
    height: 600px;
}

.shop-detail-page .pic-detail .main-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.shop-detail-page .pic-detail .main-pic img {
    height: 430px;
}

.shop-detail-page .pic-detail .sub-pic {
    height: 110px;
    width: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-F7233C);
    border-radius: 5px;
    background-color: #fff;

}

.shop-detail-page .pic-detail .sub-pic img {
    height: 90px;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

.shop-detail-page .detail {
    width: 100%;
    height: 600px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 20px;
}

.shop-detail-page .detail .name-product {
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}

.shop-detail-page .detail .detail-product {
    margin: 10px 0px;
}

.shop-detail-page .detail .detail-product h4 {
    font-size: 17px;
    font-weight: 600;
    padding: 5px;
    color: #303030;
    list-style: none;
    cursor: pointer;
}

.shop-detail-page .detail .detail-product h4 i {
    color: #5d5d5d;
    font-size: 18px;
}

.shop-detail-page .detail.detail-product ul {
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}

.shop-detail-page .detail .detail-product ul li {
    font-size: 16px;
    color: #5d5d5d;
    list-style: none;
    padding-left: 20px;
}

.shop-detail-page .detail .detail-product ul li i {
    margin-right: 8px;
    font-size: 18px;
    color: #138dff
}

.shop-detail-page .detail .qty h4 {
    font-size: 18px;
}

.shop-detail-page .detail .rating {
    font-size: 18px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}

.shop-detail-page .detail .rating small {
    font-size: 19px;
    font-weight: 600;
}

.shop-detail-page .detail .rating i {
    margin-right: -7px;
    color: orangered;

}

.shop-detail-page .detail .price {
    font-size: 25px;
    font-weight: 600;
}

.shop-detail-page .detail .select-quantity {
    float: right;
}

.shop-detail-page .detail .select-quantity div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-detail-page .detail .select-quantity div span:nth-child(1) {
    font-size: 18px;
    margin-right: 10px;
}

.minus,
.plus {
    padding: 0px 5px;
    font-size: 18px;
    background-color: var(--color-F7233C);
    color: #fff;
    cursor: pointer;
}

.num {
    padding: 0 10px;
    font-size: 18px;
    font-weight: 600;
    color: #01c5ef;
    font-family: var(--font-poppins);
}

.shop-detail-page .detail .add-cart {
    margin-top: 20px;
}

.shop-detail-page .detail .add-cart a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: var(--color-F7233C);
    display: block;
}


/* !---------Recommend ---------- */
.shop-detail-page .recommend {
    margin: 50px 0px;

}

.shop-detail-page .recommend .recommend-title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid var(--color-F7233C);
}

.shop-detail-page .recommend .col-3 {
    margin-top: 30px;
}

/* !------------------------------------------------- */
/* !                 Cart Shopping page               */
/* !------------------------------------------------- */
/* ?------------------------------------------------- */
/* *------------------------------------------------- */
.cart-page {
    margin-bottom: 200px;
}

.cart-page .title-cart h1 {
    font-size: 35px;
    color: #5d5d5d;
}

.cart-page .product .qty {
    border-bottom: 2px solid #b4b4b4;
    color: #5d5d5d;
    font-size: 18px;
    font-weight: 600;
}

.cart-page .product .item {
    margin-top: 10px;
    background-color: #ffffff;
    height: 120px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    display: flex;

}

.cart-page .product .item .pic {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-page .product .item .pic img {
    width: 140px;
    height: 100px;
    object-fit: cover;
}

.cart-page .product .item .item-detail {
    display: flex;
    padding-top: 10px;
}

.cart-page .product .item .name {
    width: 300px;
    margin-left: 10px;
}

.cart-page .product .item .name .type {
    font-size: 14px;
    color: #21aaff;
}

.cart-page .product .item .name h2 {
    margin-top: -7px;
    color: #3e3e3e;
    font-size: 22px;
}

.cart-page .product .item .name .rate {
    display: flex;
}

.cart-page .product .item .name .rate span {
    font-size: 13px;
    padding: 0px 10px;
    background-color: #4ea9ff;
    color: white;
    margin-right: 20px;
}

.cart-page .product .item .name .rate .rating small {
    font-size: 15px;
    font-weight: 600;
    margin-left: 3px;
}

.cart-page .product .item .name .rate .rating i {
    margin-right: -4px;
    font-size: 15px;
    color: orangered;
}

.cart-page .product .item .qty-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.cart-page .product .item .qty-item div {
    font-size: 20px;
    font-weight: 660;
    color: #3e3e3e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-page .product .item .qty-item div {
    border: 1px solid #138dff;
    height: 30px;
}

.cart-page .product .item .qty-item span {
    background-color: transparent;
    color: #138dff;
}

.cart-page .product .item .qty-item .num {
    border-left: 1px solid #138dff;
    border-right: 1px solid #138dff;
    display: block;
    height: 100%;
}

.cart-page .product .item .qty-item i {
    padding: 3px;
}

.cart-page .product .item .price {

    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-page .product .item .price small {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;

}

.cart-page .product .item .price small span {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -10px;
    color: #138dff;
}

.cart-page .product .item .price small span i {
    margin-left: 4px;
}

.cart-page .product .item .remove {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-page .product .item .remove small {
    font-size: 16px;
    border: 1px solid #138dff;
    padding: 0px 20px;
    border-radius: 40px;
    color: #138dff;
    cursor: pointer;
}

.cart-page .product .item .remove small:hover {
    color: red;
    border: 1px solid red;
}

.cart-page .total {
    margin-top: 45px;
    background-color: #ffffffbb;
    border: 2px solid var(--color-FA5736);
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.cart-page .total .total-title h3 {
    font-size: 25px;
    color: #4f4f4f;
    padding: 10px;
}

.cart-page .total .pay {
    font-size: 20px;
    color: #4e4e4e;
    padding: 0 10px;
    margin-top: -10px;
}

.cart-page .total .qty {
    display: flex;
}

.cart-page .total .qty span {
    font-size: 18px;
    font-weight: 600;
    color: #3e3e3e;
    padding: 10px;
    margin-top: -10px;
}

.cart-page .total .btn-check {
    width: 100%;
    background-color: var(--color-FA5736);
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.cart-page .total .btn-check a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    /* padding: 3px 80px; */
}

.cart-page .total .btn-check:hover {
    background-color: var(--color-FC7933);
}

.cart-page .total .btn-check:hover {
    background-color:var(--color-FC7933);
}