@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: "Kantumruy Pro", sans-serif;
font-family: "Poppins", sans-serif; */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Kantumruy Pro", sans-serif;
}
:root {
  --color-white: white;
  --color-black: black;
  --font-kantumruy: "Kantumruy Pro", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
.container {
  width: 1200px;
  margin: auto;
}
.col-2 {
  width: ;
}
.col-4 {
  width: ;
}
.col-6 {
  width: ;
}
.col-12 {
  width: ;
}

ul {
  list-style: none;
}
/* !------ Header Bar ------ */
header {
  width: 100%;
  height: 70px;
  background-color: var(--color-ddd);
  box-shadow: 1px 1px 3px #ddd;
}
header .navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
}
header .navbar .logo a img {
  height: 33px;
}
header .navbar .navbar-nav {
  display: flex;
}
header .navbar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  display: block;
  color: var(--color-black);
}

header .navbar .navbar-right .navbar-nav .nav-item .nav-link {
  font-size: 22px;
}
