@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Bokor&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Battambang", system-ui;
  background-color: #f5f7fa;
}

:root {
  --color-ddd: #ddd;
  --color-5d5d5d: #5d5d5d;
  --color-white: white;
  --color-black: black;
  --color-FC7933: #0047ff;
  --color-FA5736: #138dff;
  --color-F7233C: #01c5ef;
  --font-kantumruy: "Kantumruy Pro", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-bokor: "Bokor", system-ui;
  --font-battambang: "Battambang", system-ui;
}

.container {
  width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-2 {
  width: 15.66%;
}

.col-3 {
  width: 23%;
}

.col-4 {
  width: 32%;
}

.col-5 {
  width: 40.66%;
}

.col-6 {
  width: 48%;
}

.col-9 {
  width: 74%;
}

.col-12 {
  width: 100%;
}

.ml-15 {
  margin-left: 15px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

/* !------------------------------------------------- */
/* !                   HOME PAGE                      */
/* !------------------------------------------------- */
/* ?------------------------------------------------- */
/* *------------------------------------------------- */

/* !------ Header Bar ------ */
/* !------------------------ */
header {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 99;
  position: sticky;
  top: 0;
  padding-top: 5px;
  background-color: white;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
}

header .navbar .logo a img {
  height: 30px;
}

header .navbar .navbar-nav {
  display: flex;
  align-items: center;
}

header .navbar .navbar-nav .menu {
  display: flex;
  align-items: center;
  list-style: none;
}

header .navbar .navbar-nav .menu .nav-item {
  padding: 0 10px;
}

header .navbar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  padding: 10px 3px;
  color: var(--color-5d5d5d);
  font-family: var(--font-kantumruy);
  font-size: 19px;
  font-weight: 500;
  display: block;
}

header .navbar .navbar-nav .navbar-right {
  display: flex;
  margin-left: 30px;
}

header .navbar .navbar-nav .navbar-right ul {
  display: flex;
  list-style: none;
}

header .navbar .navbar-nav .navbar-right ul .nav-item {
  position: relative;
}

header .navbar .navbar-nav .navbar-right ul .nav-item .nav-link {
  font-size: 22px;
  padding: 10px 8px;
  position: relative;
}

header .navbar .navbar-nav .navbar-right .profile a img {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  margin-left: 10px;
  border: 1px solid grey;
  background-color: var(--color-F7233C);
}

header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--color-FA5736);
}

header .navbar .navbar-nav .menu .nav-item .hvr-underline-from-center::before {
  background-color: var(--color-FA5736);
  height: 2px;
}

header .navbar .navbar-nav .navbar-right ul .nav-item:first-child .nav-link::after {
  content: "4";
  color: var(--color-white);
  background-color: red;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  text-align: center;
  font-size: 15px;
  position: absolute;
  top: 0px;
  left: 19px;
}

header .navbar .navbar-nav .navbar-right ul .nav-item:first-child:hover .nav-link::after {
  background-color: var(--color-FA5736);
}

header .navbar .navbar-nav .navbar-right ul .nav-item:nth-child(2) .nav-link::after {
  content: " ";
  color: var(--color-white);
  background-color: red;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  text-align: center;
  font-size: 15px;
  position: absolute;
  top: 0px;
  left: 19px;
}

header .navbar .navbar-nav .navbar-right ul .nav-item:nth-child(2):hover .nav-link::after {
  background-color: var(--color-FA5736);
}

/* ?------------ Drop Down  ------------ */
/* !------------------------------------ */
header .navbar .navbar-nav .menu .nav-item {
  position: relative;
}

header .navbar .navbar-nav .drop-down {
  display: none;
  top: 60px;
  position: absolute;
  border: 1px solid var(--color-ddd);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 0px;
  background-color: var(--color-white);
}

header .navbar .navbar-nav .drop-down .hidden {
  width: 100%;
  height: 25px;
  position: absolute;
  top: -25px;
}

header .navbar .navbar-nav .drop-down .arrow-up {
  width: 23px;
  height: 23px;
  background-color: white;
  border-top: 1px solid var(--color-ddd);
  border-left: 1px solid var(--color-ddd);
  position: absolute;
  top: -12px;
  transform: rotate(45deg);
}

header .navbar .navbar-nav .nav-item:hover .drop-down {
  display: block;
}

/* ?--------- Drop Down menu ---------- */
/* !------------------------------------ */
header .navbar .navbar-nav .menu .nav-item .drop-down {
  width: 200px;
}

header .navbar .navbar-nav .menu .nav-item .drop-down .arrow-up {
  left: 20px;
}

header .navbar .navbar-nav .menu .nav-item .drop-down ul li {
  list-style: none;
  padding: 0px !important;
  line-height: 15px;
}

header .navbar .navbar-nav .menu .nav-item .drop-down ul li .nav-link {
  font-size: 16px;
}

header .navbar .navbar-nav .menu .nav-item .drop-down .nav-item:hover a {
  background-color: #eeeeee;
  color: #0047ff;
}

/* ?--------- Drop Down notification ---------- */
/* !------------------------------------ */
header .navbar .navbar-nav .navbar-right .nav-item .drop-down {
  width: 300px;
  height: 345px;
  left: -230px;
}

header .navbar .navbar-nav .navbar-right .nav-item .drop-down .arrow-up {
  right: 39px;
}

header .navbar .navbar-nav .navbar-right ul .nav-item .drop-down .notification {
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  padding: 8px 0px;
  font-family: var(--font-battambang);
}

header .navbar .navbar-nav .navbar-right ul .nav-item .drop-down .notification h4 {
  font-size: 19px;
  font-weight: 500;
  padding: 0px 8px 5px 8px;
  border-bottom: 2px solid var(--color-ddd);
  margin-top: -5px;
}

header .navbar .navbar-nav .navbar-right ul .nav-item .drop-down .notification .view {
  font-size: 15px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: var(--color-black);
  padding: 10px 8px 5px 8px;
  border-top: 2px solid var(--color-ddd);
}

header .navbar .navbar-nav .navbar-right ul .nav-item .drop-down .notification .view:hover {
  text-decoration: underline;
  color: var(--color-FA5736);
  font-weight: 500;
}

header .navbar .navbar-nav .navbar-right ul .nav-item .drop-down .notification ul {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 250px;
}

header .navbar .navbar-nav .navbar-right ul .nav-item .drop-down .notification li {
  width: 100%;
  border-bottom: 1px solid var(--color-ddd);
}

header .navbar .navbar-nav .navbar-right ul .nav-item .drop-down .notification li a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: var(--color-black);
}

header .navbar .navbar-nav .navbar-right ul .nav-item .drop-down .notification li a .pic {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 100%;
  border: 1px solid var(--color-F7233C);
}

header .navbar .navbar-nav .navbar-right ul .nav-item .drop-down .notification li a .pic img {
  width: 35px;
  height: 35px;
}

header .navbar .navbar-nav .navbar-right ul .nav-item .drop-down .notification li a .notification-des {
  margin-left: 8px;
}

header .navbar .navbar-nav .navbar-right ul .nav-item .drop-down .notification li a .notification-des h5 {
  font-size: 16px;
  font-weight: 500;
}

header .navbar .navbar-nav .navbar-right ul .nav-item .drop-down .notification li a .notification-des p {
  font-size: 14px;
}

header .navbar .navbar-nav .navbar-right ul .nav-item .drop-down .notification li a .notification-des .time span {
  font-size: 14px;
}

header .navbar .navbar-nav .navbar-right ul .nav-item .drop-down .notification li a .notification-des .time i {
  font-size: 14px;
}

header .navbar .navbar-nav .navbar-right ul .nav-item .drop-down .notification li:hover a {
  color: var(--color-FA5736);
}

#notifications-scrollbar::-webkit-scrollbar-track {
  background-color: #404040;
  /* border-radius: 0px 10px 10px 0px; */
}

#notifications-scrollbar::-webkit-scrollbar {
  width: 8px;
  /* border-radius: 0px 10px 10px 0px; */
}

#notifications-scrollbar::-webkit-scrollbar-track {
  background-color: #404040;
  /* border-radius: 0px 10px 10px 0px; */
}

#notifications-scrollbar::-webkit-scrollbar {
  width: 5px;
  /* border-radius: 0px 10px 10px 0px; */
}

#notifications-scrollbar::-webkit-scrollbar-thumb {
  /* border-radius: 0px 10px 10px 0px; */
  -webkit-box-shadow: inset 0 0 6px var(--color-FA5736);
  background-color: var(--color-FA5736);
}

/* !------------------ breadcrumb -------------*/
/*?--------------------------------------------*/
.breadcrumb {
  text-decoration: none;
  color: #5d5d5d;
  font-weight: 500;
  margin: 20px 0px;
}

.breadcrumb a {
  text-decoration: none;
  color: #5d5d5d;
  font-size: 15px;
}

.breadcrumb a:hover {
  color: var(--color-FC7933);
}

.breadcrumb {
  text-decoration: none;
  color: #5d5d5d;
  font-weight: 500;
  margin: 20px 0px;
}

.breadcrumb a {
  text-decoration: none;
  color: #5d5d5d;
  font-size: 15px;
}

.breadcrumb a:hover {
  color: var(--color-FC7933);
}

/* !------------------- hero banner --------------- */
.hero-banner {
  width: 100%;
  height: 660px;
  position: relative;
}

.hero-banner .background-bular {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.512);
  position: absolute;
}

.hero-banner .background-banner {
  width: 100%;
  height: 100%;
  position: absolute;
}

.hero-banner .background-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* !-------------- Experience ----------------- */
.experience {
  width: 100%;
  margin: auto;
  height: 220px;
  margin-top: 30px;
  border-bottom: 1px solid #ddd;
}

.experience .row {
  justify-content: flex-start;
}

.experience .experience-left {
  width: 340px;
  display: flex;
  align-items: center;
  padding: 50px 10px 20px 30px;
}

.experience .experience-left .experience-15 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.experience .experience-left .experience-15 span:nth-child(1) {
  font-size: 150px;
  font-weight: 600;
  font-family: var(--font-kantumruy);
  color: var(--color-FA5736);
  text-align: center;
  margin-top: -40px;
}

.experience .experience-left .experience-15 span:nth-child(2) {
  font-size: 15px;
  margin-top: -30px;
  color: var(--color-5d5d5d);
}

.experience .experience-left p {
  font-size: 17px;
}

.experience .experience-center {
  display: flex;
  height: 220px;
  width: 490px;

  position: relative;
}

.experience .experience-center div {
  width: 100px;
  height: 100%;
  background-color: var(--color-FC7933);
  clip-path: polygon(95% 0, 100% 0, 50% 100%, 0 100%);
  position: absolute;
  left: -5px;
}

.experience .experience-center img {
  width: 100%;
  object-fit: cover;
  background-size: cover;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}

.experience .experience-right {
  width: 100%;
  height: 220px;
  padding-top: 20px;
}

.experience .experience-right .text {
  width: 530px;
  height: 100%;
  background-color: var(--color-FC7933);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.experience .experience-right .text {
  font-size: 18px;
  color: var(--color-white);
  text-align: center;
}

/* !----------- Why choose us ----------------- */
.why-choose-us {
  padding: 70px 0px;
  width: 100%;
}

.why-choose-us .title h3 {
  font-family: var(--font-kantumruy);
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: var(--color-FA5736);
}

.why-choose-us .rular {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 17px 0px;
}

.why-choose-us .rular div {
  width: 60px;
  height: 1px;
}

.why-choose-us .rular div:nth-child(1) {
  background-color: var(--color-F7233C);
}

.why-choose-us .rular div:nth-child(2) {
  height: 3px;
  background-color: var(--color-FC7933);
}

.why-choose-us .rular div:nth-child(3) {
  background-color: var(--color-FA5736);
}

.why-choose-us .box {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4ba8ff38;
  padding: 20px 22px;
  margin-top: 30px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: 1s;
}

.why-choose-us .box .icon {
  position: relative;
  height: 70px;
}

.why-choose-us .box .icon img {
  height: 60px;
}

.why-choose-us .box .title-wcu {
  font-size: 23px;
  margin: 5px;
  color: var(--color-FC7933);
}

.why-choose-us .box .description p {
  font-size: 17px;
  line-height: 24px;
  color: #454545;
  text-align: center;
}

/* !---------- Our Team ------------ */
.our-team {
  border-bottom: 1px solid var(--color-ddd);
}

.sub-title small {
  font-size: 16px;
  color: var(--color-5d5d5d);
}

.sub-title small i {
  font-size: 18px;
  margin-right: 10px;
}

.our-team .title h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  color: #138dff;
}

.our-team .card {
  margin: 40px 0px;
  width: 100%;
  height: 380px;
  border-radius: 5px;
  border: 1px solid var(--color-F7233C);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #01c5ef;
  position: relative;
  overflow: hidden;
}

.our-team .card .pic img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.our-team .card .background-hover {
  width: 100%;
  height: 380px;
  background-color: #16282c8d;
  position: absolute;
  top: 380px;
  right: 280px;
  transition: 0.5s;
}

.our-team .card .content {
  width: 90%;
  height: 110px;
  background-color: var(--color-F7233C);
  position: absolute;
  bottom: -10px;
  clip-path: polygon(100% 25%, 85% 70%, 90% 100%, 0 100%, 0 0);
}

.our-team .card .name h3 {
  margin: 25px 0px 0px 25px;
  font-size: 25px;
  color: white;
  transition: 0.5s;
}

.our-team .card .subtitle {
  margin-top: -5px;
}

.our-team .card .subtitle small {
  margin: -20px 0px 0px 25px;
  font-size: 16px;
  color: white;
}

.our-team .card:hover .name h3 {
  color: var(--color-5d5d5d);
}

.our-team .card:hover .background-hover {
  top: 0px;
  right: 0px;
}

.our-team .card .icon-social {
  position: absolute;
  top: 20px;
  right: 10px;
}

.our-team .card .icon-social .icon {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;
}

.our-team .card .icon-social .icon i {
  font-size: 25px;
  color: var(--color-5d5d5d);
}

.our-team .card .icon-social ul {
  list-style: none;
  width: 40px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 0px 5px 0px;
  margin-top: -20px;
  border-radius: 0px 0px 50px 50px;
  position: absolute;
  top: -190px;
  transition: 1s;
}

.our-team .card:hover .icon-social ul {
  top: 40px;
}

.our-team .card .icon-social ul li a i {
  font-size: 25px;
  color: var(--color-5d5d5d);
  margin-top: 8px;
}

.our-team .card .icon-social ul li:nth-child(1):hover a i {
  color: #1c55ff;
}

.our-team .card .icon-social ul li:nth-child(2):hover a i {
  color: #ff1ece;
}

.our-team .card .icon-social ul li:nth-child(3):hover a i {
  color: #ff1c1c;
}

.our-team .card .icon-social ul li:nth-child(4):hover a i {
  color: #46a9ff;
}

.our-team .view-team {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.our-team .view-team a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-FA5736);
  padding: 5px 20px 2px 20px;
  border: 1px solid var(--color-FA5736);
  border-radius: 50px;
  overflow: hidden;
}

.our-team .view-team a:hover {
  color: var(--color-white);
}

.our-team .view-team .hvr-sweep-to-right::before {
  background-color: var(--color-FA5736);
}

/* !------------------ Footer ------------------- */

/* !------------------------------------------------- */
/* !                     404 PAGE                     */
/* !------------------------------------------------- */
/* ?------------------------------------------------- */
/* *------------------------------------------------- */